@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:  'Passion One', cursive;
    --fonte3:  'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html, body{
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
    font-family: var(--fonte1);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: #222;
    position: sticky;
    top: 0;
    font-family: 'Arial';
    font-weight: 500;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
}
.logo{
    padding-top: 10px;
    padding-left: 5px;
    font-variant: small-caps; 
    font-family: 'Lucida Sans', 'LucidaSans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva,Verdana, sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.596);   
}
.logo a{
    color: #F29325;
}
.menu ul{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px;
    font-size: 1.1;   
}
.menu ul li{ 
    width: 100%;
    height: 30px;
    background-color: #222;
    font-family: 'Arial';
}
.menu a{
    padding: 16.5px;
    display: block;
    text-decoration: none;
    background-color: #222;
    color: #fff;
    
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.menu ul li:hover ul{
    visibility: visible;
    font-size: 1.3em;
}
.menu a:hover{
    color: #F29325;
}
button.bt{
    padding: 14px;
    background-color: rgb(70, 70, 70);
    border-radius: 8px;
}
button.bt a{
    color: #ffff;
    font-weight: 500;
    font-size: large;
}
button.bt:hover{
    background-color: #F29325;
}
section.section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(./img/img1.webp);
    background-position: center center;
    background-attachment: fixed;
}
section.section1 h1{
    font-size: 3.9em;
    color: rgb(58, 56, 56);
}
.artigo1 p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(66, 63, 63);
}
.artigo1 button{
    padding: 15px;
    margin: 20px 0px 0px 300px;
    background-color: #F29325;
    border-radius: 8px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    transition-duration: 0.5s;

}
.artigo1 button a{
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: larger;
}
.artigo1 button:hover{
    font-size: 1.2em;
}
#img1{
    padding: 20px;
}
section.section2{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-position: center center;
    
}
section.section2 h1{
    font-size: 4em;
    color: #F29325;
}
.artigo2 p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
}
.artigo2 button{
    padding: 15px;
    margin: 20px 0px 0px 230px;
    background-color: #F29325;
    border-radius: 8px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    transition-duration: 0.5s;
}
.artigo2 button a{
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: larger;
}
.artigo2 button:hover{
    font-size: 1.2em;
}
section.section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    background-image: url(./img/section-3.webp);
    background-position: center top;
    background-attachment: fixed;
}
section.section3 h1{
    font-size: 3.9em;
    color: rgb(58, 56, 56);
}
.artigo3 p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(66, 63, 63);
}
.artigo3 button{
    padding: 15px;
    margin: 20px 0px 0px 300px;
    background-color: #F29325;
    border-radius: 8px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    transition-duration: 0.5s;
}
.artigo3 button a{
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: larger;
}
.artigo3 button:hover{
    font-size: 1.2em;
}
#img3{
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.384);
}
section.section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    background-image: url(./img/section-4.webp);
    background-position: center center;
    background-attachment: fixed;
}
section.section4 h1{
    font-size: 3.9em;
    color: #F29325;
}
.artigo4 h2{
    font-size: 1.7em;
    color: #F29325;
}
.artigo4 p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(250, 250, 250);
}
#img4{
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.384);
}
footer.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
}
article.rodape1{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
}
.rodape1:hover{
    font-size: 1.2em;
}
article.rodape1 h3{
    color: #ffff;
    font-weight: bolder;
    font-size: 1.4em;
    padding-bottom: 20px;
}
article.rodape1 p{
    color: #fff;
    padding-bottom: 40px;
    text-align: center;
}
.rodape1 button{
    padding: 15px;
    background-color: #F29325;
    border-radius: 8px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    transition-duration: 0.5s;

}
.rodape1 button a{
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: larger;
}
.rodape1 button:hover{
    font-size: 1.2em;
}
article.rodape2{
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
}
.rodape2:hover{
    font-size: 1.2em;
}
article.rodape2 h3{
    color: #ffff;
    font-weight: bolder;
    font-size: 1.4em;
    padding-bottom: 20px;
}
article.rodape2 p{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
article.rodape2 a{
    color: #fff;  
}
article.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
}
.media:hover{
    font-size: 1.2em;
}
article.media h3{
    color: #fff;
    margin-top: -60px;
    padding-bottom: 30px;
    font-size: 1.3em;
}
#imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}
.header2{
    padding-bottom: 10px;
    padding-top: 5px;
    color: #fff;
    font-weight: 300;
    height: 60px;
}
.header2 a{
    color: #F29325;
}
.header2:hover a{
    text-decoration: underline;
}




